h1 {
    width: 400px;
    font-size: 40px;;
    font-family: ;
    padding: 20px;
    margin: 0 auto;
    font-weight: ;
    text-decoration: ;
    color: ;
    background-color: ;
}

h2 {
    width: 400px;
    font-size: ;
    font-family: ;
    padding: 20px 0 0 0;
    margin: 0 auto;
    font-weight: ;
    color: ;
    background-color: ;
}

p {
    width: 400px;
    font-family: ;
    font-size: ;
    padding:0 0 20px 0 ;
    margin: 0 auto ;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url( https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: white;
    height: 40px;
    width: 40px;
    margin: 0 auto;
}
